header {
    background-color: var(--primary-color);
}

.topheader {
    /* position: fixed; mantiene fijo el header*/
    background-color: var(--primary-color);
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
}

.container {
    height: 84px;
    display: flex;
    justify-content: space-between;
    width: 95%; /*holder*/
    margin: 0 auto; 
}

/*Menu*/
.title {
    padding-top: 3px; 
    color: #fff;
    text-shadow: -4px 2px 8px rgba(0,0,0,0.56);
}

.menuDesktop {
    display: flex;
    margin: 0;
    padding: 0;
}

.menuDesktop li {
    padding: 0 15px;
}

.menuDesktop a {
    font-size: 18px;
    line-height: 90px;
}

.openMenu,
.closeMenu {
  display: none; /*se ocultan los botones*/
}
.menu {
    display: none;
}


/*Mobile-menu*/

@media (max-width:820px) {

    .menuDesktop {
        display: none;
    }
    .title {
        text-align: center;
    }

    .container {
        height: auto;
        width: 95%;
    }
    
    .menu {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        position: fixed; /*fiexed fija el menu*/
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: var(--menu-mobile-color);
        height: 100%;
        overflow-y: auto;
        opacity: 1;
        transition: opacity 0.3s;
    }
    
    .menu li {
        padding: 0;
        justify-content: center;
    }
    
    .menu a {
        font-size: 50px;
        line-height: 135px;
    }

    .closeMenu, .openMenu {
        display: block;
        border: none;
        background: none; /*quita el backgraund del boton*/
        font-size: 30px;
        cursor: pointer;
        align-self: flex-end;
        padding: 15px;
    }
   
    .closeMenu {
        align-self: flex-end;
        padding: 20px 15px;
        color: #fff;
        float: right;
    }

    .openMenu {
        color: #fff;
    }
    
}

@media (min-width:250px) and (max-width:450px) {
   .menu a{
    line-height: 100px;
    font-size: 45px;
   }
   .openMenu {
    margin-bottom: 25px;
   }
   .closeMenu {
    position: relative;
    bottom:90px;
   }
}

/*End Mobile-menu*/